<div class="container">
  <div class="banner-header">
    <%= image_tag("Logo_Scientific_Cocktails.png", alt: "Logo", id: "logo") %>
    <h3 class="main-title">Scientific Cocktails</h3>
  </div>
</div>